.list {
    margin-top: 60px;
}

.empty,
.loading {
    font-size: 24px;
    color: var(--secondary-text-color);
}

.loading {
    text-align: center;
}

@media (max-width: 768px) {
    .list {
        margin-top: 40px;
    }

    .empty,
    .loading {
        font-size: 18px;
    }
}   