.list {
    margin-top: 3.75rem;
}

.empty,
.loading,
.failure {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
}

.loading {
    text-align: center;
}

.failure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .list {
        margin-top: 2.5rem;
    }

    .empty,
    .loading {
        font-size: 1.125rem;
    }
}   