.header {
    height: 2.5rem;
    line-height: 2.5rem;
    background-color: var(--dark-primary-color);
    color: var(--secondary-color);
}

.content {
    display: flex;
}

.left {
    display: flex;
}

.brand {
    font-size: 0.875rem;
}

.info {
    display: flex;

    margin-left: var(--small-margin);
}

.info-content {
    margin-left: var(--small-margin);
    font-size: 0.625rem;
}

.right {
    margin-left: auto;
    display: flex;
}

.github {
    margin-left: var(--small-margin);
}

.github:link .fab,
.github:visited .fab {
    color: var(--secondary-color);
}

.github:hover .fab {
    color: var(--light-primary-color);
}

@media (max-width: 768px) {
    .info {
        display: none;
    }
}
