.button {
    outline: none;
    border: none;
    cursor: pointer; 
}

.button:hover {
    transition: all .2s;
}

.button:disabled {
    opacity: 0.85;
}

.rect {
    max-width: 240px;
    width: 100%;

    padding: 1rem;

    background: var(--primary-color);
    color: var(--secondary-color);

    border-radius: var(--border-radius);
}

.rect:hover {
    background-color: var(--dark-primary-color);
}

.circular {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    background-color: var(--light-primary-color);
}

.circular:hover,
.circular.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.text {
    background-color: transparent;
    color: var(--secondary-color);
}

.text:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .circular {
        height: 1.875rem;
        width: 1.875rem;

        font-size: 0.75rem;
        margin-left: var(--small-margin);
    }
}
